.caption-wrapper {
    max-width: 960px;
    margin: 0 auto 100px;
    .caption-list {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: -10px -5px 0;
        .caption-item {
            width: calc(960px / 3 - 10px);
            height: 250px;
            margin: 10px 5px 0;
            box-sizing: border-box;
            position: relative;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            div {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                padding: 20px;
                box-sizing: border-box;
                background-color: rgba(17, 179, 179, .7);
            }
        }
    }
}