.header {
    width: 100%;
    padding: 15px 20px;
    background-color: yellowgreen;
    opacity: .7;
    box-sizing: border-box;
    z-index: 100;
    position: fixed;
    left: 0;
    top: 0;
    .header-inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .site-title {
            font-size: 3rem;
            font-weight: bold;
        }
        .header-nav {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100vh;
            background-color: yellowgreen;
            opacity: 1;
            z-index: 100;
            .nav-list {
                display: flex;
                flex-direction: column;
                align-items: center;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                .nav-item {
                    margin-bottom: 10px;
                    font-size: 2rem;
                    font-weight: bold;
                    &:last-of-type {
                        margin-bottom: 0;
                    }
                }
            }
        }
        .header-burger-btn {
            width: 30px;
            height: 30px;
            position: relative;
            z-index: 100;
            .bars {
                .bar {
                    width: 30px;
                    height: 2px;
                    background-color: #fff;
                    position: absolute;
                    left: 0;
                }
                .bar-top {
                    top: 8px;
                }
                .bar-mid {
                    top: 15px;
                }
                .bar-bottom {
                    top: 22px;
                }
            }
        }
        .cross {
            .bars {
                .bar-top {
                    top: 15px;
                    transform: rotate(45deg);
                    transition: .3s;
                }
                .bar-mid {
                    opacity: 0;
                    transition: .3s;
                }
                .bar-bottom {
                    top: 15px;
                    transform: rotate(-45deg);
                    transition: .3s;
                }
            }
        }
    }
}
