.header {
    width: 100%;
    padding: 15px 20px;
    background-color: yellowgreen;
    .header-inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .header-nav {
            .nav-list {
                display: none;
            }
        }
        
    }
}