.nav-wrapper {
    max-width: 960px;
    margin: 100px auto 0;
    background-color: green;
    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px;
        .burger-btn {
            display: block;
            width: 30px;
            height: 30px;
            position: relative;
            .bars {
                .bar {
                    display: block;
                    background-color: #fff;
                    width: 30px;
                    height: 2px;
                    position: absolute;
                }
                .bar-top {
                    top: 5px;
                }
                .bar-bottom {
                    top: 25px;
                }
            }
        }
        .cross {
            .bars {
                .bar-top {
                    top: 15px;
                    transform: rotate(45deg);
                    transition: .3s;
                }
                .bar-mid {
                    opacity: 0;
                }
                .bar-bottom {
                    top: 15px;
                    transform: rotate(-45deg);
                    transition: .3s;
                }
            }
        }
    }
    .nav {
        display: none;
        background-color: rgb(61, 167, 61);
        padding: 30px 50px;
        &-list {
            margin-bottom: 10px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}